h3 {
  margin-top: -3em;
  padding-bottom: 1em;
}
#carousel {
  margin-bottom: -2em;
}
#carousel .card {
  width: 10rem;
}
#carousel .card-body {
  padding: 1em;
  margin-bottom: 2em;
}
#carousel .carousel-control-prev,
#carousel .carousel-control-next {
  top: 50%;
  bottom: 50%;
  visibility: hidden;
}
