.col-md-4 img {
  width: 10em;
  height: 10em;
}
.upcoming {
  margin-top: -4em;
}
.col-md-4 {
  position: relative;
  padding: 0.5em;
}
.col-md-4:hover .hover-texts {
  visibility: visible;
  opacity: 1;
}
.hover-texts {
  color: black;
  text-transform: capitalize;
  font-weight: 900;
  position: absolute;
  top: 10%;
  left: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 1.1s;
}
.col-md-4:hover .card img {
  transition: 1s;
  opacity: 0.5;
}
