h3 {
  margin-top: -3em;
  padding-bottom: 1em;
}
#carousel {
  margin-bottom: -2em;
}
#carousel .card {
  width: 10rem;
}
#carousel .card-body {
  padding: 1em;
  margin-bottom: 2em;
}
#carousel .carousel-control-prev,
#carousel .carousel-control-next {
  top: 50%;
  bottom: 50%;
  visibility: hidden;
}

/* @media (min-width: 359px) {
  #upcoming h2 {
    margin-top: -2em;
  }
  #upcoming img {
    width: 10em;
    height: 10em;
  }
  #upcoming .carousel-indicators {
    visibility: hidden;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
} */

@media (max-width: 575.98px) {
  #upcoming h2 {
    margin-top: -2em;
  }
  #upcoming img {
    width: 10em;
    height: 10em;
  }

  #upcoming .carousel-indicators {
    visibility: hidden;
  }
  #upcoming {
    padding-left: 3.5em;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
  #upcoming .col-md-4 img {
    width: 100%;
    height: 100%;
    border: 0.1px solid red;
  }
  #upcoming .col-md-4 {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
}
