.container {
  padding: 0.1em;
  margin-top: 5em;
}
.col-md-3 {
  position: relative;
  padding: 1em;
}
.col-md-3:hover .hover-texts {
  visibility: visible;
  opacity: 1;
}
.col-md-3:hover .card img {
  transition: 1s;
  opacity: 0.6;
}
.hover-texts {
  color: black;
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: 900;
  position: absolute;
  top: 10%;
  left: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 1.1s;
}

.card-title {
  font-family: "Luckiest Guy", cursive;
}
.fas {
  color: gold;
}

.new {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 5em;
  transition: 1s;
}

@media (max-width: 575.98px) {
  #store {
    margin-top: 5em;
  }
  #store .row {
    margin-right: 3em;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  #store {
    margin-top: 5em;
  }
  #store .row {
    margin-right: 3em;
    padding: 0;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
