#news-caro .carousel-control-prev,
#news-caro .carousel-control-next {
  top: 50%;
  bottom: 50%;
  visibility: hidden;
}

#news-caro img {
  border-radius: 1em;
}
#news-caro p,
#news-caro h3 {
  color: white;
  text-shadow: 0.1em 0.1em purple;
  opacity: 1;
  font-size: 0.8em;
  font-weight: 500;
}
